{% extends "common/base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <!--게시글 상세 내용-->
        <div class="row">
            <div class="col">
                <h4 class="card-title" style="font-weight: bold;">제목</h4>
                <p class="card-subtitle" style="font-size: 12px">닉네임<small style="color: gray;">  날짜</small></p>
                <p class="card-text">내용</p>
                <img src="">
            </div>
        </div>

        <div class="card">
            <!-- 댓글 작성란 -->
            <div class="row text-end my-2">
                <div class="col">
                    <div class="card-body">
                        <form class="input-group text-center">
                            <textarea class="form-control"
                            placeholder="한번 작성한 댓글은 삭제할 수 없습니다. 매너를 지켜주세요."
                            style="resize: none;height: 100px;"></textarea>
                            <a class="btn btn-outline-primary" id="write_btn"
                            style="font-weight: bold;height: 100px;width: 70px;">등록</a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 댓글 리스트 -->
            <div class="row my-2">
                <div class="col border-top py-2 mx-3">
                    <p style="font-weight: bold;">닉네임</p>
                    <p style="word-break: break-all;">내용이 길이지면 글이 주어진 영역을 넘어가게 되기 때문에 "word-break: break-all"을 style로 명시해줘야 한다.</p>
                    <p style="color: gray;font-size: 12px;">날짜</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}