<div class="row text-center border-bottom align-items-center" style="padding:10px;width:100%;margin: 0;">
    <div class="col text-start">
        <a class="text-decoration-none fs-1" style="font-weight: bold;" href="{% url 'board' %}">Anonymous</a> <!-- 서비스명 -->
    </div>
    <div class="col text-end">
        {% if request.user.is_authenticated %} <!-- user가 로그인 되어 있으면-->
            <p class="m-0">{{ request.user.nickname }}님</p>
            <a class="btn btn-primary" href="{% url 'post_write' %}">글쓰기</a>
            <a class="btn btn-primary" href="{% url 'signout' %}">로그아웃</a>
        {% else %} <!-- 아니면 -->
            <a class="btn btn-primary" href="{% url 'signin' %}">로그인</a>
        {% endif %} <!-- if문 끝 -->
    </div>
</div>
<div class="row text-center"></div>

